@import "@/shared/styles/vars.scss";

/* stylelint-disable selector-class-pattern */

body {
    width: 100%;
    height: 100%;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(248, 248, 248, 0.7);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-element-main;
        border-radius: 10px;
    }
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 48px;
}

.swal2-popup {
    font-family: Montserrat !important;
}

/* stylelint-enable selector-class-pattern */