@import "@/shared/styles/mixins.scss";


.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 30px 15px;
    border-width: 0;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    @include font-default(400, 20px, normal, black);


    .btnClose {
        position: absolute;
        padding: 5px;
        color: white;
        top: 10px;
        right: 10px;
    }

    .title {
        width: 100%;
        font-size: 37px;
        line-height: 66px;
        text-align: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        border-radius: 10px;
        background-color: white;
        @include font-default(400, 15px, auto, black);

        .field {
            position: relative;
            @include flex-row(center, center);
            gap: 10px;

            label {
                width: 120px;
                font-size: 20px;
                line-height: 30px;
                text-align: right;
            }

            .input {
                margin-top: 3px;
                padding: 5px 20px;
                background: #FFFFFF;
                border: 1px solid #B1B1B1;
                border-radius: 5px;
                font-size: 20px;
                line-height: 30px;

                &::placeholder {
                    color: #B1B1B1;
                }

                &:focus {
                    border-color: #287F9A;
                }
            }

            input.inputError {
                border: 1px solid #CF4747;
            }

            textarea {
                width: 100%;
                resize: none;

                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-track {
                    background-color: rgba(248, 248, 248, 0.7);
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #373A3A;
                    border-radius: 10px;
                }
            }

            .errorLabel {
                position: absolute;
                top: 45px;
                left: 120px;
                padding: 0 10px;
                color: #CF4747;
                font-size: 12.5px;
                line-height: 15px;
                text-align: left;
            }
        }

        .btnSave {
            margin-top: 15px;
            align-self: center;
            padding: 5px 120px;
            font-size: 20px;
            line-height: 30px;
        }
    }
}

