@import "@/shared/styles/mixins.scss";
@import "@/shared/styles/vars.scss";


.button {
    @include font-default(400, 15px, normal, white);
    background-color: #287F9A;
    text-align: center;
    border-radius: 12px;
    user-select: none;
    transition: 0.3s;
    padding: 14px 48px;

    &:hover {
        background-color: #51A1B9;
    }

    &:enabled:active {
        transform: scale(0.96);
    }

    &:disabled {
        pointer-events: none;
        background-color: gray;
        color: #DAD8D8;
    }

    &:focus {
        box-shadow: 8px 9px 8px 0px rgba(34, 60, 80, 0.2);
    }
}