@import "@/shared/styles/vars.scss";
@import "@/shared/styles/mixins.scss";


.booksPage {
    height: 100%;
    padding-bottom: 20px;
    background-color: $color-bg-main;
    @include font-default(400, 15px, auto, black);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        margin-top: 25px;
        font-size: 44px;
        line-height: 66px;
        text-align: center;
    }

    .emptyMsg {
        margin-top: 25px;
        font-size: 25px;
        text-align: center;
    }

    .list {
        max-width: 1040px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        padding: 40px 0;
    }

    .btnAdd {
        align-self: center;
        width: clamp(250px, 50%, 350px);
        padding: 5px 10px;
        font-size: 20px;
        line-height: 30px;
    }
}


@media (max-width: 475px) {
    .booksPage {
        .title {
            font-size: 38px;
        }

        .list {
            padding-top: 30px;
        }
    }
}